<div class="container">
  <div class="card mt-5" style="padding: 20px;">
    <form #formLogin="ngForm" (ngSubmit)="fazerLogin(formLogin)">
      <div class="form-group" >
        <label for="nome">Login:</label>
        <input type="text" #login (ngModel)="login" name="login" id="login" class="form-control" placeholder="Login">
      </div>

      <div class="form-group" >
        <label for="senha">Senha:</label>
        <input type="password" #senha (ngModel)="senha" name="senha" id="senha" class="form-control">
      </div>

      <div class="form-group" >
        <input type="submit" value="Entrar" class="btn btn-primary w-100">
      </div>

    </form>
  </div>
</div>

