<div class="container">
  <h2 class="mt-5">Consulta de Candidatos</h2>

  <div class="card mt-5" style="padding: 20px;">
    <form #consultaCandidatoForm="ngForm" (ngSubmit)="consulta(consultaCandidatoForm)">
      <div class="form-group" >
        <label for="nome">CPF:</label>
        <input type="text" #cpf (ngModel)="cpf" name="cpf" id="cpf" class="form-control" placeholder="CPF">
      </div>
      <div class="form-group" >
        <label for="nome">Senha:</label>
        <input type="text" #senha (ngModel)="senha" name="senha" id="senha" class="form-control" placeholder="Senha">
      </div>

      <div class="form-group" >
        <input type="submit" value="Consultar" class="btn btn-primary w-100">
      </div>

    </form>
  </div>

  <div class="card" *ngIf="candidato != null">
    <img class="card-img-top" [src]="foto" alt="Foto">
    <div class="card-body">
      <h5 class="card-title">{{candidato.nomeCompleto}}</h5>
    </div>
    <div class="card-header">
      <div *ngIf="candidato.aprovado != null">
        Situação: {{candidato.aprovado ? 'Aprovado' : 'Reprovado'}}
      </div>
      <div *ngIf="candidato.aprovado == null">
        Situação: [Não avaliado]
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nascimento: {{candidato.nascimento | date: 'shortDate'}}</li>
      <li class="list-group-item">CPF: {{candidato.cpf}}</li>
      <li class="list-group-item">Nome da Mãe: {{candidato.nomeCompletoDaMae}}</li>
    </ul>

    <div class="form-group">
      <label>Documento:</label>
      <img [src]="documento" style="width: 50em;">
    </div>
    <div class="form-group">
      <label>Comprovante:</label>
      <img [src]="comprovante" style="width: 50em;">
    </div>


  </div>
</div>
